
/*
  browser adds margin from default. 
  Margins were set to have more controll
*/
*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*
  Main index header
  added some text decoration
  used rem for a relative fontsize to browser default
*/
h1{
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 800;
}

/*
  bird card subheader
  styled and added color
*/
h2 {
  font-size: 1.5rem;
  background-color: #06BCC1;
  color: white;
  text-align: center;
  border: 2px solid black;
}

/*

*/
h3 {
  font-size: 1rem;
  font-weight: 800;
  text-decoration: underline;
}

/*
  changed page color to off white
*/
body{
  background-color: #F4EDEA;
}

/*

*/
nav {
  display: flex;
  flex-direction: row;
  background-color: #12263A;
  height: 4rem;
  margin-bottom: 10rem;
}

/*
  used flexbox property to be able to place items inside .nav-container node relative to eachother. 

*/
.nav-container {
  height: 100%;
  display: flex;
  flex:3 2 0;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 50vw;
  margin-right: 5vw;
  min-width: 10rem;
}

/*
  take off any a tag styling from the entire site. 
*/
a {
  text-decoration: none;
}

/**/
.nav-item {
  color: white;
  list-style: none;
}

/**/
.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
  position relative to move item over slightly. 
*/
.nav-icon {
  height: 12rem;
  width: 12rem;
  position: relative;
  left: 50px;
}

/**/
.header {
  margin-left: 15rem;
}

/**/
main{
  display: flex;
  justify-content: center;
  flex-direction:row ;
  flex-wrap: wrap;
}

/**/
.bird-image {
  border-radius: 4px;
  height: 400px;
  width: 400px;
}

/*
  space around was used to be able to separate the radio buttons evenly. 
*/
.bird-selector {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/**/
.bird-info {
  border:5px solid #06BCC1;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  width: 45%;
  min-width: 20rem;
}

/**/
main{
  display: flex;
  justify-content: center;
  margin: 0 10rem;
  margin-left: 12rem;
  margin-bottom: 45rem;

}

/*
  flexwrap was used to make the page somewhat dynamic to different screen sizes.
  gap allows for soace between the elements insie the container. 
*/
.bird {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:1rem;
  margin-right: 3rem;
  margin-left: 15rem;
}


/*
  positioned this absolute on the page
  this takes it out of the natural page flow and allows for specific placement without affecting other elements. 
*/
aside {
  position: absolute;
  height: 50%;
  width: 20rem;
  background-color: #C5D8D1;
  border-radius: 4px;
  margin-left: 2rem;
}


/**/
.button {
  border: none;
  list-style: none;
  background-color: #F1F7ED;
  cursor: pointer;
  font-size: 2rem;
}

/*
  enlarged the radio buttons for ease of use.
*/
input[type='radio'] { 
  transform: scale(1.5); 
}


/**/
button:hover {
  text-decoration: underline;
}

/**/
label {
  padding-left: 10px;
}

/*
  added flexbox to be able to stack the elements and center together. 
*/
footer {
  background-color: #F4D1AE;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/*
  changing cursor when hovering over the bird picker elements. 
*/
.bird-picker {
  cursor: pointer;
}

/**/
.footer-link {
  color: white;
  text-decoration: none;
  justify-content: flex-end;
}

/**/
.footer-link:hover {
  color: black;
  text-decoration: underline;
}

/*
  used this in the js file. 
  When added to a class list, whatever element has this appened to it will not show up on the browser.
*/
.hidden {
  display: none;
}

/* moved label from radio button left so text doesnt get cut off from the enlarged radio button.*/
span {
  margin-left: 5px;
}