*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;}

nav {
  display: flex;
  flex-direction: row;
  background-color: #42858C;
  height: 4rem;
  margin-bottom: 10rem;
}

.nav-container {
  height: 100%;
  display: flex;
  flex:3 2 0;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 50vw;
  margin-right: 5vw;
  min-width: 10rem;
}

nav > ul > a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-icon {
  height: 10rem;
  width: 10rem;
  position: relative;
  left: 50px;
}

main{
  display: flex;
  justify-content: center;
  flex-direction:row ;
  flex-wrap: wrap;
}

main > img {
  height: 300px;
  width: 300px;
}

.bird-image {
  border-radius: 4px;
}


main{
  display: flex;
  justify-content: center;
  margin: 0 10rem;

}
.bird {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap:1rem;
}