*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #42858C;
  height: 64px;
}

.nav-container {
  height: 100%;
  gap:3rem;
  display: flex;
  flex:3 2 0;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 40vw;
  margin-right: 5vw;
}

nav > ul > a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.nav-icon {
  height: 10rem;
  width: 10rem;
  position: relative;
  left: 50px;
}

main{
  display: flex;
  justify-content: center;
}

main > img {
  height: 300px;
  width: 300px;
}

.bird-image {
  border-radius: 4px;
}

main{
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-right: 0px;

  margin: 0 15rem;
  margin-top: 10rem;

}